<template>
<div class="card" style="width: 18rem;">
  <div class="card-header">
    Featured
  </div>
<ul>
 <li v-for='product in products' v-bind:key='product._id'  >
    {{ product.name }}
  </li>
</ul>
</div>
</template>

<script>
  export default {
    data () {
      return {
        products: [
            { name : 'Foo'},
            { name : 'Bar' }
        ]
      }
    },
  }
  </script>