<template>
 <div class="row">
 
  <div class="col-md-4 p-0">
  <div class="list">
   <ul>
 <li class="trello"> <a href="#home" target="_self">Project Overview</a></li>
 <li class="trello"> <a  href="#profile" target="_self">Task</a></li>
  <li class="trello"><a  href="#messages" target="_self">In Progress</a></li>
  <li class="trello"><a  href="#settings" target="_self">In review</a></li>
  <li class="trello"><a  href="#settings" target="_self">Completed</a></li>
</ul>
</div>
  </div>

<div class="col-md-8  list">
    <div>
  <div id="home" >
  <div class="row">
  <div class="col-4 my-5">
    <div class="card" style="width: 18rem;">
    <div class="card-header">
       Task 
    </div>
    <ul>
    <li v-for='product in products' v-bind:key='product._id'  >
        {{ product.name }}
    </li>
    </ul>
    </div>
</div>
<div class="col-4 my-5">
    <div class="card" style="width: 18rem;">
    <div class="card-header">
       Task 
    </div>
    <ul>
    <li v-for='product in products' v-bind:key='product._id'  >
        {{ product.name }}
    </li>
    </ul>
    </div>
</div>
<div class="col-4 my-5">
    <div class="card" style="width: 18rem;">
    <div class="card-header">
       Task 
    </div>
    <ul>
    <li v-for='product in products' v-bind:key='product._id'  >
        {{ product.name }}
    </li>
    </ul>
    </div>
</div>
</div>
  </div>
  <div  id="profile" >
   <div class="row">
  <div class="col-4 my-5">
    <div class="card" style="width: 18rem;">
    <div class="card-header">
       Task 
    </div>
    <ul>
    <li v-for='product in products' v-bind:key='product._id'  >
        {{ product.name }}
    </li>
    </ul>
    </div>
</div>
<div class="col-4 my-5">
    <div class="card" style="width: 18rem;">
    <div class="card-header">
       Task 
    </div>
    <ul>
    <li v-for='product in products' v-bind:key='product._id'  >
        {{ product.name }}
    </li>
    </ul>
    </div>
</div>
<div class="col-4 my-5">
    <div class="card" style="width: 18rem;">
    <div class="card-header">
       Task 
    </div>
    <ul>
    <li v-for='product in products' v-bind:key='product._id'  >
        {{ product.name }}
    </li>
    </ul>
    </div>
</div>
</div>
  </div>
  <div  id="messages" >
   <div class="row">
  <div class="col-4 my-5">
    <div class="card" style="width: 18rem;">
    <div class="card-header">
       Task 
    </div>
    <ul>
    <li v-for='product in products' v-bind:key='product._id'  >
        {{ product.name }}
    </li>
    </ul>
    </div>
</div>
<div class="col-4 my-5">
    <div class="card" style="width: 18rem;">
    <div class="card-header">
       Task 
    </div>
    <ul>
    <li v-for='product in products' v-bind:key='product._id'  >
        {{ product.name }}
    </li>
    </ul>
    </div>
</div>
<div class="col-4 my-5">
    <div class="card" style="width: 18rem;">
    <div class="card-header">
       Task 
    </div>
    <ul>
    <li v-for='product in products' v-bind:key='product._id'  >
        {{ product.name }}
    </li>
    </ul>
    </div>
</div>
</div>
  </div>
  <div  id="settings" >
   <div class="row">
  <div class="col-4">
    <div class="card" style="width: 18rem;">
    <div class="card-header">
       Task 
    </div>
    <ul>
    <li v-for='product in products' v-bind:key='product._id'  >
        {{ product.name }}
    </li>
    </ul>
    </div>
</div>
<div class="col-4">
    <div class="card" style="width: 18rem;">
    <div class="card-header">
       Task 
    </div>
    <ul>
    <li v-for='product in products' v-bind:key='product._id'  >
        {{ product.name }}
    </li>
    </ul>
    </div>
</div>
<div class="col-4">
    <div class="card" style="width: 18rem;">
    <div class="card-header">
       Task 
    </div>
    <ul>
    <li v-for='product in products' v-bind:key='product._id'  >
        {{ product.name }}
    </li>
    </ul>
    </div>
</div>

</div>
<div class="form-group  my-3">
  <label for="exampleFormControlTextarea5" class="decrip">Description</label>
  <textarea class="form-control" id="exampleFormControlTextarea5" rows="3"></textarea>
</div>
<div class="form-group green-border-focus">
  <label for="exampleFormControlTextarea5" class="decrip">Activity</label>
  <textarea class="form-control" id="exampleFormControlTextarea5" rows="3"></textarea>
</div>
  </div>
  </div>

  </div>

</div>
 
</template>


<script>

 export default {
    data () {
      return {
        products: [
            { name : 'Foo'},
            { name : 'Bar' }
        ]
      }
    },
  }
  
  </script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.decrip
{
  color:#fff;
  font-weight:bold;
  font-size:18px;
  text-align:left;
}
.list{
 
  height:2000px;
  
}
.list ul
{
  margin-top:5px;
}
.trello
{
 padding: 30px 5px 10px;
}
.list ul li{
 margin-bottom:5px;
  margin-top:5px;
 text-align: center;
  list-style-type:none;
 

}
.list
{
  background-color:	#0000FF;
}
a {
  color: #fff;
   font-weight:bold;
    list-style-type:none;
}
</style>
