<template>
  <div id="app">
    <!--img alt="Vue logo" src="./assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/-->


      <TrelloList/>
    
   
</div>


 
</template>

<script>
//import HelloWorld from './components/HelloWorld.vue'

//import trellodash from './components/trellodash.vue'
import TrelloList from './components/TrelloList.vue'
//import kevro from './components/kevro.vue'

export default {
  name: 'App',
  components: {
   // HelloWorld,
   //trellodash,
    TrelloList
  // kevro
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  color: #2c3e50;
 

  
}
background-color:#0000FF;
</style>
